[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MicroServices-Dev-Plantilla/client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Nest-MicroServices-Dev-Plantilla/product-microservices.git
